.container{
    max-width: 1280px;
    height: 100%;
    padding: 0 1.5rem;
    margin: auto; 
    overflow: hidden;}

.text-centered {
    text-align: center;
}

#main-nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 1rem; }
    #main-nav ul {
        display: flex;
        justify-content: center; 
        list-style-type: none; }
    #main-nav li {
        padding: 1rem 1.5rem; }
    #main-nav a {
        text-decoration: none;
        color: #5f5f5f;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.5s; }
        #main-nav a:hover {
        border-color: #5f5f5f; }
        #main-nav a.current {
        border-color: #0E4D92; }


#fancy-intro {
    height: 100vh;
    color: #5f5f5f;}
    #fancy-intro .intro-content {
        margin: auto;
        padding-top: 14rem;
    }
    #fancy-intro .intro-content h1 {
            font-size: 3rem;
            line-height: 1.2;}

       
.slot-machine {
    font-size: 3rem;
    font-weight: 100;
    color: #5f5f5f;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;}
    .slot-machine div {
        overflow: hidden;
        position: relative;
        height: 6rem;
        text-align: left;
        padding-top: 1rem;
        margin-top: -1rem;}
        .slot-machine li {
            text-align: left;
            list-style-type: none; 
            color: #0E4D92;
            font-weight: 300;
            height: 3rem;
            margin-bottom: 2.63rem;
 }
 

.slot-4 { animation: slot-4 10s cubic-bezier(.42, 0, .58, 1) infinite; }

@keyframes slot-4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

#about-header {
    height: 5rem;}

.about-section {
    color: #5f5f5f;
    text-align: center;
    margin-top: 15rem;
    padding-bottom: 0rem;
    font-size: 1.2rem;}

.section-title {
    font-size:3.2rem;
    font-weight: 300;}

.title-underline {
    display: block;
    background-color:  #0E4D92;
    height: 0.3rem;
    width: 7rem;
    margin: auto;
    margin-bottom: 1rem}

#about-layout {
    display: grid;
    grid-template-areas: "avatar bio bio" "pic1 pic2 pic3";
    grid-gap: 1rem;}
    #about-layout .bio {
        grid-area: bio;
        height: 300px;
        padding-bottom: 1rem;
        padding-top: 1rem;
        width: 90%;
        margin: auto;}
    #about-layout .avatar img{
        grid-area: avatar;
        height: 300px;
        width: 300px;
        border-radius: 50%;}
    #about-layout .pic1 img{
        grid-area: pic1;
        height:300px;
        width: 95%;
        margin: 0;
        padding: 0;
    }
    #about-layout .pic2 img{
        grid-area: pic2;
        height:300px;
        width: 95%;
        margin: 0;
        padding: 0;
    }
    #about-layout .pic3 img{
        grid-area: pic3;
        height:300px;
        width: 95%;
        margin: 0;
        padding: 0;
    }
        
