header{
    font-family: 'Nanum Gothic', sans-serif;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
}

.project-button {
    background-color: #5f5f5f;
    text-decoration: none;
    color: white; 
    height: 5rem;
    width: 10rem;
    padding: .5rem;
    border-radius: 4px;
    transition-duration: 0.4s;}
    .project-button:hover {
        background-color: #0E4D92;
        color: white; 
    }

.container{
    max-width: 1280px;
    height: 100%;
    padding: 0 1.5rem;
    overflow: hidden;
    margin: auto;}

.text-centered {
    text-align: center;
}

#main-nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 1rem; 
    font-size: 2rem;}
    #main-nav ul {
        display: flex;
        justify-content: center; 
        list-style-type: none; }
    #main-nav li {
        padding: 1rem 1.5rem; }
    #main-nav a {
        text-decoration: none;
        color: #5f5f5f;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.5s; }
        #main-nav a:hover {
        border-color: #5f5f5f; }
        #main-nav a.current {
        border-color: #0E4D92; }

/**
ABOUT PAGE
*/

#fancy-intro {
    height: 100vh;
    color: #5f5f5f;}
    #fancy-intro .intro-content {
        margin: auto;
        padding-top: 14rem;
    }
    #fancy-intro .intro-content h1 {
            font-size: 3rem;
            line-height: 1.2;}

       
.slot-machine {
    font-size: 3rem;
    font-weight: 100;
    color: #5f5f5f;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;}
    .slot-machine div {
        overflow: hidden;
        position: relative;
        height: 6rem;
        text-align: left;
        padding-top: 1rem;
        margin-top: -1rem;}
        .slot-machine li {
            text-align: left;
            list-style-type: none; 
            color: #0E4D92;
            font-weight: 300;
            height: 3rem;
            margin-bottom: 2.63rem;
 }
 

.slot-4 { animation: slot-4 10s cubic-bezier(.42, 0, .58, 1) infinite; }

@keyframes slot-4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

#about-header {
    height: 5rem;}


.section-title {
    font-size:3.2rem;
    font-weight: 300;}

.title-underline {
    display: block;
    background-color:  #0E4D92;
    height: 0.3rem;
    width: 7rem;
    margin: auto;
    margin-bottom: 3rem;}

    #about-section {
        color: #5f5f5f;
        text-align: center;
        margin-top: 5rem;
        padding-bottom: 0rem;
        font-size: 1.2rem;}
    #about-section .about-info {
        display: grid;
        grid-template-areas: "bioimage bio bio" "view1 view2 view3";
        grid-gap: 1rem;
        color: #5f5f5f; }
      
      #about-section .bio-image {
        grid-area: bioimage;
        padding-left: 3rem;
        max-width: 800px;
        height: auto; }
      
      #about-section .bio {
        grid-area: bio; 
        max-width: 800px;
        width: 100%;
        overflow: hidden;}
      
      #about-section .view1 {
        grid-area: view1;
        max-width: 800px;
        width: 100%;
        overflow:hidden;
        height: auto; }
      
      #about-section .view2 {
        grid-area: view2;
        max-width: 800px;
        width: 100%;
        overflow:hidden;
        height: auto; }
      
      #about-section .view3 {
        grid-area: view3;
        max-width: 800px;
        width: 100%;
        overflow:hidden;
        height: auto; }


/**
PORTFOLIO PAGE
*/

#work-section {
    color: #5f5f5f;
    text-align: center;
    margin-top: 5rem;
    padding-bottom: 0rem;
    font-size: 1.2rem;}
    #work-section .work-info {
        display: grid;
        grid-template-areas: "company-image1 company-info1" "company-image2 company-info2" "company-image3 company-info3";
        grid-gap: 1rem;
        color: #5f5f5f; }
        #work-section .work-info .company-info1 .job-title {
            margin-bottom: 0rem;
            text-transform: uppercase;
        }
        #work-section .work-info .company-info2 .job-title {
            margin-bottom: 0rem;
            text-transform: uppercase;
        }
        #work-section .work-info .company-info3 .job-title {
            margin-bottom: 0rem;
            text-transform: uppercase;
        }
        #work-section .work-info .company-info1 .job-employment {
            margin-top: 0rem;
        }
        #work-section .work-info .company-info2 .job-employment {
            margin-top: 0rem;
        }
        #work-section .work-info .company-info3 .job-employment {
            margin-top: 0rem;
        }




#project-section {
    color: #5f5f5f;
    text-align: center;
    margin-top: 5rem;
    padding-bottom: 0rem;
    font-size: 1.2rem;}
#project-section .project-info {
    display: grid;
    grid-template-areas: "project-image1 project-info1" "project-image2 project-info2" "project-image3 project-info3";
    grid-gap: 1rem;
    color: #5f5f5f; }
    #project-section .project-info .project-info1 .project-title {
        margin-bottom: 0rem;
        margin-top: 0rem;
        text-transform: uppercase;
    }
    #project-section .project-info .project-info2 .project-title {
        margin-bottom: 0rem;
        margin-top: 0rem;
        text-transform: uppercase;
    }
    #project-section .project-info .project-info3 .project-title {
        margin-bottom: 0rem;
        margin-top: 0rem;
        text-transform: uppercase;
    }
    #project-section .project-info .project-info1 .project-date {
        margin-top: 0rem;
    }
    #project-section .project-info .project-info2 .project-date {
        margin-top: 0rem;
    }
    #project-section .project-info .project-info3 .project-date {
        margin-top: 0rem;
    }



/**
MOBILE
*/
@media (max-width: 500px) {
    .container {
        max-width: 1280px;
        height: 100%;
        padding: 0 1.5rem;
        overflow: hidden;
    }
    
    #fancy-intro .intro-content h1 {
        font-size: 2rem;
        line-height: 1.2;
    }
    
    .slot-machine ul {
        padding: 0rem;}
    .slot-machine li {
        text-align: center; 
        list-style-type: none; 
        color: #0E4D92;
        font-weight: 300;
        height: 3rem;
        margin-bottom: 2.63rem; }

    #main-nav {
        flex-direction: column;
        align-items: center; }
        #main-nav ul {
            padding: 0rem;
        }
        #main-nav li {
          padding: 1rem; }

    #about-section .about-info {
        grid-template-areas: 'bioimage' 'bio' 'view1' 'view2' 'view3';}
    #about-section .bio-image {
        grid-area: bioimage;
        padding-left: 0.25rem;
        max-width: 800px;
        height: auto; }
    #about-section .bio {
        grid-area: bio; 
        max-width: 800px;
        width: 80%;
        overflow: hidden;}
    #about-section .view1 {
        grid-area: view1;
        max-width: 800px;
        width: 80%;
        overflow:hidden;
        height: auto; }
    #about-section .view2 {
        grid-area: view2;
        max-width: 800px;
        width: 80%;
        overflow:hidden;
        height: auto; }     
    #about-section .view3 {
        grid-area: view3;
        max-width: 800px;
        width: 80%;
        overflow:hidden;
        height: auto; }

    #work-section .work-info {
        grid-template-areas: "company-image1" "company-info1" "company-image2" "company-info2" "company-image3" "company-info3";}

    #project-section .project-info {
        grid-template-areas: "project-image1" "project-info1" "project-image2" "project-info2" "project-image3" "project-info3";}
}